{{OPENSCHEMAS_FRONTEND_MATTER}}
<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  {% include profile_start.html %}
                  {% include specification_table.html %}
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
   </body>
</html>
